/* =============================================================================
   Collection of Misc. Mixins
   ========================================================================== */
.background-clip {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
